:root {
    /* Lấy chính xác tone màu từ file chính của bạn */
    --bg: #f6f8ff;
    --bg-pattern: #d6dcff;
    --text: #111827;
    --text-sub: #6b7280;
    --card: #ffffff;
    --card-gradient: linear-gradient(135deg, #ffffff, #f3f6ff);
    --minibox: #ffffff;
    --primary: #1a73e8; /* Màu xanh thương hiệu LearnHub */
    --primary-light: #eff6ff;
    --danger: #ef4444;
    --success: #10b981;
    --info: #3173de;
    --anshover: #d0d7df;
    --answrong: #fdacac;
    --success-light: #b6fdcf;
    --danger-light: #f7b7b7;
    --tf-bg: #f8fafc;       /* nền mệnh đề */
    --tf-hover: #eef2ff;    /* hover nhẹ */
    --tf-border: #e2e8f0;
    --true-asw: #15803d;
    --false-asw: #b91d1d;
}
